
    .question-form__container {
      width: 1200px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.205);
        border-radius: 10px;
    }
      .form-text {
        color: white;
    }

