.user-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  max-height: 100px;

  .user-avatar {
    width: 50px;
  }
  .user-name {
    color: $color_contentText;
  }
}
