#root {
  background-color: rgba(41, 39, 39, 1);
}


.App {
  width: 100%;
  display: grid;
  grid-template-areas: 
  "header"
  "container" 
  "footer";
  grid-template-rows: 100px 1rf 100px;
  grid-template-columns: 1rf ;
  
  
}
.header-main {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 100px;
  min-height: 60px;
  width: 100%;
  font-size: 1.25em;
  font-weight: bol;
  color: white;
  background-color: rgba(41, 39, 39, 1);
}
.container {
  grid-area: container;
  width: 100%;
}
.footer {
    grid-area: footer;
    padding: 0 10%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    height: 50px;
    width: 100%;

  
}

.row {
  margin-top: 100px;
}
.similar.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
