.author-card {
  padding-top: 30px;
  .author-card__title {
    font-size: 32px;
    font-family: serif;
    color: $color_contentText;
  }

  .author-card__info {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: $color_contentText;
  }

  .author-information {
    opacity: 0.7;
    color: $color_contentText;
  }
}

.author-card.col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: space-around;
  max-width: 500px;
}
