.author-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: space-around;
}
.author-title-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: rgba(217,215,215,1)
}


.author-card-title {
  font-size: 32px;
  font-family: serif;
  color: rgba(217,215,215,1)
  
}
.author-information {
  opacity: .7;
  color: rgba(217,215,215,1);
}
.author-name {
  color: rgba(217,215,215,1);
}
.author-name-list {
  display: flex;
  flex-direction: row;
  

}
