.book-about-title {
  color: black;
  opacity: .7;
}
.book-about{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
  
}
.book-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.book-cover {
  display: flex;

}
.book-cover-image {
  display: flex;
  max-width: 350px;
}
.row-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.book-card {
  max-width: 200px;
  max-height: 500px;
  margin-left: 50px;
  
}
.book-card.card{
  background-color: rgba(41, 39, 39, 1);
  border: none;
}
.book-card-image {
  max-width: 200px;
  max-height: 300px;
  border-radius: 5px;
}
.book-card-title{
  color:  #fff;
  font-weight: bold;
}
.book-card-authors{
  color:  rgba(217,215,215,1);
}
