.header-main {
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  font-weight: bol;
  color: white;
  background-color: rgba(41, 39, 39, 1);
}

.header-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 100px;
}

